ErrorDocument 404 /
Redirect /vehicle-servicing/ /services/
Redirect /vehicle-servicing /services/
Redirect /vehicle-repairs/ /services/
Redirect /vehicle-repairs /services/
Redirect /experience/ /services/
Redirect /experience /services/
Redirect /contacts/ /contact/
Redirect /contacts /contact/
Redirect /bmw-service/ /services/bmw/
Redirect /bmw-service /services/bmw/
Redirect /vw-service/ /services/volkswagon/
Redirect /vw-service /services/volkswagon/
Redirect /mercedes-benz-service/ /services/mercedes-benz/
Redirect /mercedes-benz-service /services/mercedes-benz/
Redirect /mini-cooper-service/ /services/mini-cooper/
Redirect /mini-cooper-service /services/mini-cooper/
Redirect /audi-service/ /services/audi/
Redirect /audi-service /services/audi/