
    <div class="w3-row brands-banner">
        <div class="scroll-container">
            <a href="/services/audi">
                <h4>AUDI</h4>
            </a>
            <a href="/services/bmw">
                <h4>BMW</h4>
            </a>
            <a href="/services/volkswagon">
                <h4>Volkswagon</h4>
            </a>
            <a href="/services/ferrari">
                <h4>Ferrari</h4>
            </a>
            <a href="/services/mercedes-benz">
                <h4>Mercedes Benz</h4>
            </a>
            <a href="/services/mini-cooper">
                <h4>Mini Cooper</h4>
            </a>
        </div>
    </div>