
    <div class="w3-row brands-banner" itemscope itemtype="http://schema.org/brand">
        <div class="scroll-container">
            <a href="/services/audi">
                <h4 itemprop="Brand">AUDI</h4>
            </a>
            <a href="/services/bmw">
                <h4 itemprop="Brand">BMW</h4>
            </a>
            <a href="/services/volkswagon">
                <h4 itemprop="Brand">Volkswagon</h4>
            </a>
            <a href="/services/ferrari">
                <h4 itemprop="Brand">Ferrari</h4>
            </a>
            <a href="/services/mercedes-benz">
                <h4 itemprop="Brand">Mercedes Benz</h4>
            </a>
            <a href="/services/mini-cooper">
                <h4 itemprop="Brand">Mini Cooper</h4>
            </a>
            <a href="/services/porsche">
                <h4 itemprop="Brand">Porsche</h4>
            </a>
            <a href="/services/maserati">
                <h4 itemprop="Brand">Maserati</h4>
            </a>
            <a href="/services/chrysler">
                <h4 itemprop="Brand">Chrysler</h4>
            </a>
            <a href="/services/renault">
                <h4 itemprop="Brand">Renault</h4>
            </a>
            <a href="/services/bentley">
                <h4 itemprop="Brand">Bentley</h4>
            </a>
            <a href="/services/other">
                <h4 itemprop="Brand">Other</h4>
            </a>
        </div>
    </div>