
    <div class="w3-row contact-banner">
        <div class="w3-col s4 phone">
            <div class="content contact-us">
                <a href="/contact/">
                    <img src="/images/contact-banner/mechanic-contact.svg" width="38" height="50" alt="">
                    <p><strong>Contact Us</strong></p>
                    <p>03 9387 4440</p>
                    <p><a href="mailto:service@worxauto.com.au">service@worxauto.com.au</a></p>
                </a>
            </div>
        </div>
        <div class="w3-col s6 m4">
            <div class="content address">
                <a href="/contact/">
                    <img src="/images/contact-banner/mechanic-address.svg" width="54" height="50" alt="">
                    <p><strong>Address</strong></p>
                    <p>130 Henty Street,</p>
                    <p>Reservoir, 3073</p>
                </a>
            </div>
        </div>
        <div class="w3-col s6 m4">
            <div class="content hours">
                <a href="/contact/">
                    <img src="/images/contact-banner/mechanic-hours.svg" width="49" height="49" alt="">
                    <p><strong>Business Hours</strong></p>
                    <p>Monday to Friday</p>
                    <p>8:00am - 5:00pm</p>
                </a>
            </div>
        </div>
    </div>