<div class="nav-placeholder"></div>
<nav role="navigation">
    <div class="mobile-nav">
        <input type="checkbox" id="nav-menu-state" class="nav-menu-state">
        <label class="nav-burger" for="nav-menu-state">
            <span class="nav-burger-top"></span>
            <span class="nav-burger-middle"></span>
            <span class="nav-burger-bottom"></span>
        </label>
        <div class="mobile-menu">
            <a href="/services" class="mobile-link">Services</a>
            <a href="/contact" class="mobile-link">Contact</a>
            <a href="/contact/#booking" class="mobile-link">Booking Form</a>
            <div class="mobile-link mobile-social-media">
                <a href="https://plus.google.com/107514218448574641880/about">
                    <img src="/images/icons/google-plus.svg" alt="Google Plus" height="32">
                </a>
                <a href="https://www.facebook.com/WorxAutomotive">
                    <img src="/images/icons/facebook.svg" alt="Facebook" height="32">
                </a>
                <a href="https://instagram.com/worxauto/">
                    <img src="/images/icons/instagram-white.svg" alt="Instagram" height="32">
                </a>
            </div>
        </div>
    </div>
    <div class="nav-wrapper container">
        <div class="contact">
            <p>Phone: <strong>03 9387 4400</strong></p>
            <p>Email: <a href="mailto:service@worxauto.com.au"><strong>service@worxauto.com.au</strong></a></p>
        </div>
        <div class="subnav">
            <div class="subnav-link social-media">
                <a href="https://plus.google.com/107514218448574641880/about">
                    <img src="/images/icons/google-plus.svg" alt="Google Plus" height="25">
                </a>
                <a href="https://www.facebook.com/WorxAutomotive">
                    <img src="/images/icons/facebook.svg" alt="Facebook" height="25">
                </a>
                <a href="https://instagram.com/worxauto/">
                    <img src="/images/icons/instagram-white.svg" alt="Instagram" height="25">
                </a>
            </div>
            <div class="subnav-link services">
                <a href="/services">Services</a>
                <div class="services-dropdown">
                    <ul>
                        <li>
                            <a href="/services/audi">Audi</a>
                        </li>
                        <li>
                            <a href="/services/bmw">BMW</a>
                        </li>
                        <li>
                            <a href="/services/volkswagon">Volkswagon</a>
                        </li>
                        <li>
                            <a href="/services/ferrari">Ferrari</a>
                        </li>
                        <li>
                            <a href="/services/mercedes-benz">Mercedes-Benz</a>
                        </li>
                        <li>
                            <a href="/services/mini-cooper">Mini Coooper</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="subnav-link">
                <a href="/contact">Contact</a>
            </div>
            <div class="subnav-link">
                <a href="/gallery">Gallery</a>
            </div>
        </div>
    </div>
    <div class="worx-logo">
        <a href="/">
            <img srcset="/images/worx-logo.png,
               /images/worx-logo@2x.png 2x" src="/images/worx-logo.png" alt="Worx Auto Mechanic Logo">
        </a>
    </div>
    <div class="book-now">
        <a href="/contact/#booking">
            <img srcset="/images/book-now.png,
                 /images/book-now@2x.png 2x" src="/images/book-now.png" alt="Book Mechanic Service">
        </a>
    </div>
</nav>