<footer class="w3-row page-footer">
    <div class="w3-col s7 links">
        <div class="content">
            <p><a href="#">Home</a></p>
            <p><a href="#">Contact</a></p>
            <p><a href="#">Services</a></p>
            <p><a href="#">Repair</a></p>
            <p><a href="#">Experience</a></p>
            <p><a href="#">Facebook</a></p>
            <p><a href="#">Instagram</a></p>
        </div>
    </div>
    <div class="w3-col s5 copyright">
        <div class="content">
            <p>COPYRIGHT © 2017 WORXAUTO</p>
        </div>
    </div>
</footer>