
// Banner
.scroll-container {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    align-items: center;
    min-width: 1200px;
    margin: 0 auto;
}
@import 'banners/_contact-banner';
@import 'banners/_brands-banner';
@import 'banners/_services-banner';