
.title-section {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    .title {
        display: block;
        text-align: center;
        text-transform: uppercase;
        border: 2px solid #FFF;
        padding: 5px 12px;
        width: 362px;
        margin: 0 auto;

        p {
            font-size: 24px;
            line-height: 29px;
            font-weight: 200;
        }
        h3 {
            margin-top: -5px;
            font-size: 33px;
            line-height: 40px;
            color: #FFF;
        }
        p:last-child {
            font-size: 18px;
            line-height: 20px;
        }
    }
}
.home-section {
    position: relative;
    height: 642px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-top: 30px solid $base-color;

    @at-root .title-section + & {
        margin-top: 30px;
    }

    .section-image {
        width: 66.6%;
        overflow: hidden;
    }
    .w3-col {
        width: 33.3%;
    }
    .content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        width: 66%;
        margin: 0 auto;

        img {
            width: 100%;
            margin-top: 19px;
            margin-bottom: 14px;
        }
        .section-head {
            font-weight: 600;
        }
        p {
            font-size: 16px;
            line-height: 19px;
            color: #FFF;
            margin-bottom: 15px;
        }
        ul {
            margin: 0 0 0 -20px;
        }
        ul ul {
            margin-bottom: 15px;
        }
    }
    a {
        width: auto;
        background-color: $base-color;
        border-radius: 2px;
        color: #FFF;
        text-decoration: none;
        padding: 5px 17px;

        &:hover {
            background-color: darken($base-color,10%);
        }
    }
}
@media screen and (min-width: 850px) {
}

.social-media {
    position: relative;
    overflow: hidden;
    height: auto;
    padding-top: 30px;
    padding-bottom: 10px;
    justify-content: space-around;

    .w3-col {
        position: relative;
    }
    .link {
        text-align: center;
    }
    a {
        display: inline-block;
    }
    .instagram-pull iframe {
        height: 424px;
        width: auto;
    }
}


.map {
    position: relative;
    overflow: hidden;
    height: 415px;
    margin-top: 30px;
    padding-top: 20px;

    #map,
    iframe {
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .location {
        position: relative;
        z-index: 2;
    }

    > img {
        position: absolute;
        top: 0;
        min-width: 1680px;
        width: 100%;
        z-index: -1;
        left: 50%;
        transform: translateX(-50%);
    }
    .w3-col {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 1px;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(255,255,255,0.74);
        height: 100%;
        width: 362px;
        height: 290px;
        padding: 20px;
        text-align: center;

        img {
            margin-top: 19px;
            margin-bottom: 14px;
        }
        h3 {
            font-size: 34px;
            line-height: 41px;
            color: #000;
            font-weight: 700;
        }
        p {
            font-size: 26px;
            line-height: 32px;
            color: #000;
        }
    }
}