@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700");
h1, h2, h3, h4, h5, p, a {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #FFF;
  margin: 0; }

html {
  background-color: #000; }

p {
  margin: 0;
  font-size: 20px;
  line-height: 24px; }

img {
  display: block;
  width: auto; }

.nav-placeholder {
  height: 101px; }

nav {
  position: fixed;
  top: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100vw;
  background-color: #1a1a1a;
  z-index: 10; }
  nav .nav-wrapper {
    width: 100%; }
  nav p {
    font-size: 1.7vw;
    line-height: 2.1vw;
    margin-left: 10px; }

@media screen and (min-width: 1150px) {
  nav p {
    font-size: 20px;
    line-height: 24px; } }

.worx-logo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40%;
  max-width: 420px;
  padding: 20px 0; }
  .worx-logo img {
    max-width: 302px;
    width: 100%; }

.book-now img {
  width: 147px;
  height: 101px; }

.contact {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: #fff;
  float: left;
  width: 100%;
  height: 39px;
  padding-left: 13px;
  padding-right: 13px; }
  .contact p {
    color: #000;
    font-weight: 300; }
  .contact a,
  .contact a:link,
  .contact a:visited,
  .contact a:hover,
  .contact a:active {
    color: #000;
    text-decoration: none; }

.subnav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 62px;
  float: left; }
  .subnav .subnav-link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;
    width: 33%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-right: 1px solid #F4F4F4;
    color: #FFF; }
    .subnav .subnav-link p {
      text-transform: uppercase; }
    .subnav .subnav-link:last-child {
      border-right: 0; }

.carousel {
  position: relative;
  width: 100%; }
  .carousel .video {
    position: relative;
    width: 100%;
    height: 100%; }
  .carousel .play-btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
    max-width: 109px;
    cursor: pointer; }
  .carousel .preview {
    display: block !important; }
  .carousel .embedded-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }
  .carousel .arrow {
    max-width: 200px;
    width: 20%; }
    .carousel .arrow img {
      width: 100%; }

.w3-display-bottommiddle {
  z-index: 5; }

.carousel-button {
  height: 13px;
  width: 13px;
  padding: 0;
  background-color: transparent; }

.contact-banner {
  background: black;
  background: #ff690b;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ff690b), color-stop(43%, #ff690b), color-stop(43.1%, black), color-stop(100%, black));
  background: linear-gradient(to bottom, #ff690b 0%, #ff690b 43%, black 43.1%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff690b', endColorstr='#000000', GradientType=0 );
  padding-top: 25px;
  padding-bottom: 25px; }
  .contact-banner .content {
    text-align: center; }
  .contact-banner p {
    color: #FFF;
    font-size: 24px;
    line-height: 29px; }
  .contact-banner a,
  .contact-banner a:link,
  .contact-banner a:visited,
  .contact-banner a:hover,
  .contact-banner a:active {
    color: #FFF;
    text-decoration: none; }
  .contact-banner img {
    display: inline-block;
    margin-bottom: 20px; }

.about-section {
  position: relative;
  height: 560px;
  overflow: hidden; }
  .about-section > img {
    position: absolute;
    top: 0;
    width: 100%;
    min-width: 1680px; }
  .about-section .w3-col {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.74); }
  .about-section .content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    width: 362px;
    margin-left: 97px; }
    .about-section .content img {
      width: 100%;
      margin-top: 19px;
      margin-bottom: 14px; }
    .about-section .content p {
      font-size: 16px;
      line-height: 19px; }
  .about-section .title {
    text-transform: uppercase;
    border: 1px solid #000;
    padding: 5px 12px; }
    .about-section .title p {
      font-size: 24px;
      line-height: 29px;
      font-weight: 300; }
    .about-section .title h3 {
      margin-top: -5px;
      font-size: 33px;
      line-height: 40px;
      color: #000; }
  .about-section p {
    color: #000; }

.brands-banner {
  background: black;
  background: #ff690b;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ff690b), color-stop(60%, #ff690b), color-stop(60.1%, black), color-stop(100%, black));
  background: linear-gradient(to bottom, #ff690b 0%, #ff690b 60%, black 60.1%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff690b', endColorstr='#000000', GradientType=0 );
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
  height: 135px; }

.social-media-section {
  position: relative;
  height: 560px; }
  .social-media-section .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 356px;
    height: 356px;
    border-radius: 200px;
    background-color: #333333;
    z-index: 2; }
  .social-media-section .semicircle,
  .social-media-section .right-semicircle {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%; }
  .social-media-section .left-semicircle {
    left: 0;
    z-index: 10; }
    .social-media-section .left-semicircle .facebook {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 50%;
      right: 20px;
      text-align: right; }
    .social-media-section .left-semicircle img {
      display: inline-block;
      margin-bottom: 5px; }
    .social-media-section .left-semicircle p {
      color: #FFF; }
  .social-media-section .right-semicircle {
    overflow: hidden;
    right: 0;
    border-radius: 0 200px 200px 0;
    background-color: #DADADA; }
    .social-media-section .right-semicircle .instagram {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 50%;
      left: 20px;
      text-align: left; }
    .social-media-section .right-semicircle img {
      display: inline-block;
      margin-bottom: 5px; }
    .social-media-section .right-semicircle p {
      color: #333333; }
  .social-media-section .w3-col {
    height: 100%;
    overflow: hidden; }
  .social-media-section .content img {
    display: block;
    position: relative;
    width: 100%;
    min-width: 840px;
    left: 50%;
    transform: translateX(-50%); }
  .social-media-section .fb-page {
    opacity: 0;
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px; }

.services-banner {
  background: black;
  background: #ff690b;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ff690b), color-stop(55%, #ff690b), color-stop(55.1%, black), color-stop(100%, black));
  background: linear-gradient(to bottom, #ff690b 0%, #ff690b 55%, black 55.1%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff690b', endColorstr='#000000', GradientType=0 );
  padding-top: 25px;
  padding-bottom: 25px; }
  .services-banner .content {
    text-align: center; }
  .services-banner p {
    color: #FFF;
    font-size: 24px;
    line-height: 29px; }
  .services-banner a,
  .services-banner a:link,
  .services-banner a:visited,
  .services-banner a:hover,
  .services-banner a:active {
    color: #FFF;
    text-decoration: none; }
  .services-banner img {
    display: inline-block;
    margin-bottom: 20px; }

.map {
  position: relative;
  height: 415px; }
  .map > img {
    position: absolute;
    top: 0;
    min-width: 1680px;
    width: 100%;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%); }
  .map .w3-col {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 1px; }
  .map .content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.74);
    height: 100%;
    width: 362px;
    height: 290px;
    padding: 20px;
    text-align: center; }
    .map .content img {
      margin-top: 19px;
      margin-bottom: 14px; }
    .map .content h3 {
      font-size: 34px;
      line-height: 41px;
      color: #000;
      font-weight: 700; }
    .map .content p {
      font-size: 26px;
      line-height: 32px;
      color: #000; }

.page-footer {
  height: 77px;
  margin-top: 40px;
  background-color: #fff; }
  .page-footer p {
    float: left;
    font-size: 1vw;
    line-height: 1.3vw;
    color: #000; }
  .page-footer a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase; }
  .page-footer .links {
    height: 100%; }
  .page-footer .links .content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    padding-left: 40px; }
  .page-footer .copyright {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    padding-right: 30px; }
  .page-footer .copyright p {
    float: right;
    text-align: right;
    font-size: 2vw;
    line-height: 2.5vw; }

@media screen and (min-width: 1430px) {
  .page-footer p {
    font-size: 15px;
    line-height: 18px; } }

@media screen and (min-width: 1200px) {
  .page-footer .copyright p {
    font-size: 24px;
    line-height: 29px; } }
